# Backend
MONGODB_CONNECTION_STRING=mongodb://username:password@mongo:27017/your-db
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
FRONTEND_URL=http://localhost

# Frontend
VITE_API_BASE_URL=http://backend:7000
FRONTEND_PORT=80

# Other
# Add any other env vars your app expects here
